<!DOCTYPE html>
<html>
<head>
	<title>CHAT-WEB</title>
	<style type="text/css">
		body{
			background-color: brown;
			text-align: center;
		}
		iframe{
			border-style: none;
			border-radius: green;
			width: 70%;
			height: 70%;
			top: 15%;
			left: 15%;
			position: absolute;
		}
	</style>
</head>
<body>
	<h1>CHAT-WEB</h1>
	<iframe src="/main"></iframe>
</body>
</html>